$color01:#8d8d8d;
$color02:#4d3126;
$color03:black;

body{
  background-color: #400 !important;
}

.container{
  background-color: #fff9e8;
}

#header{
  nav{
    width: 100%;
    padding: 15px;
    #logo{
      font-size: 36px;
    }    
  }
  
}

#info{
  margin: 20px 0px 0px 0px;
  .col-1-5{
    width: 20%;
  }
  .col-1-5:last-of-type{
    border-right: 0px;
  }
}

#gallery{
  .row{
    .col-4{
      padding: 15px;
      img{
        width: 100%;
      }
    }
  }  
}

// introduction

#introduction{
  padding: 15px;
  background-color: white;
  img{
    margin-bottom: 15px
  }
}

// character

#character{
  padding: 15px;
  background-color: #e4ccb2;
  div{
    margin: 15px 0px 15px 0px;
  }
}

#movie{
  padding: 15px;
  background-color: #e4ccb2;
  div{
    margin: 15px 0px 15px 0px;    
    // background-color: black;
  }
}