$color01:#8d8d8d;
$color02:#4d3126;
$color03:black;

body{
  background-color: #400 !important;
}

.container{
  background-color: #fff9e8;
}

#header{
  nav{
    width: 100%;
    padding: 15px;
    #logo{
      font-size: 36px;
    }    
  }  
}

// introduction

#introduction{
  padding: 15px;
  background-color: white;
  img{
    margin-bottom: 15px
  }
}

// character

#character{
  padding: 15px;
  background-color: #e4ccb2;
  div{
    margin: 15px 0px 15px 0px;
  }
}

#movie_nav{
  background-color: #4d3126;  
  ul{
    margin: 0 auto;
    a{
      color: white;
    }
  }
}

#movie_list{
  padding: 30px;
  background-color: #e4ccb2;
  .row{
    div{
      margin: 15px 0px 15px 0px; 
    }
  }  
}

#back_top{
  position: fixed;
  bottom: 30px;
  right: 30px;
}
